.kjkJOY .logo__link {
    color: #d61f1f;
    font-size: 14px;
    font-weight: 600;
    -webkit-letter-spacing: 1.17px;
    -moz-letter-spacing: 1.17px;
    -ms-letter-spacing: 1.17px;
    letter-spacing: 1.17px;
    display: none;
}


#kepler-gl__covid{
    width : 1349px !important ;
    
}

.ejihqZ > div + div{
    width : 1349px !important; 
    
}

/* .maps{
    width: 100%;
} */